#footer-bar{
    width: calc(100% - 1em);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em;
    background-color: var(--fototria-bg);
    color: white;
    font-family: "space-mono";
    a{
        color: white;
    }
}