.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}

.headerBig{
    height: 5em;
}

.headerSmall{
    height: 3em;
}

.header-links{
    float: right;
    height: 100%;
    margin-right: 1em;
    font-family: "funnel-sans";
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1em;
    a{
        text-transform: uppercase;
        color: white;
        text-decoration: none;
    }
}
.logo{
    width: 20%;
    height: 100%;
    background-color: yellow;
}